body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: orangered;
  }
  
  header {
    background-color: orangered;
    color: rgb(255, 255, 255);
    padding: 20px;
    position: inherit;
  }
  
  header h1 {
    margin: 0;
    padding:10px;
    color-interpolation-filters: linearRGB;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    background-color: brown;
  }