.left-section .logo {
  padding: 10px;
  background-color: transparent;
  border: transparent;
  height:fit-content;
  width:fit-content;
  display: block;

}

.left-section:hover .logo {
  cursor: pointer;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  color: back;
  display: flex;
}

.right-section .nav-link {
  color: white;
  background-color: transparent;
  padding: 18px;
  border: none;
}

.header.middle-section{
font-display:initial;
color: rgb(255, 255, 255) ;
}
.nav-link:hover {
  cursor: pointer;
  background-color: lightgrey;
  color: black;
}
.nav{
  align-items: center;
  gap: 10px;
}
.grid-container{
  display:grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  text-align: center;
  text-size-adjust:inherit;
  /*background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),url(nav_art.jpg);
  background-position: center;
  background-size: cover;
  background-color: transparent*/
}

/* header h1 {
  margin: 0;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}

nav li {
  display: inline-block;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
} */