body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0px;}

main {
  padding: 2px;
  accent-color: darkslategrey;
  background-color: #333;
  height:100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}


section {
  margin-bottom: 25px;
}
h1{
  color: gainsboro ;
  text-align: center;
  text-size-adjust:inherit;
  padding: 15px;
}

section h2 {
  color: #f7f7f7;
  margin-top: 0;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  object-position: center;
}

footer h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #f7f7f7;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

#back-to-top:hover {
  background-color: #444;
}

/* Responsive website design for mobile devices */

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
  }
  margin{
    padding: 10px; 
    font-size: 14px; 
  }
}